@keyframes change-color{

    0%{background-color: red; top:5px; left:5px;}
    20%{background-color: rgb(255, 162, 0); top:10px; left:10px;}
    40%{background-color: rgb(251, 255, 0); top:20px; left:20px;}
    60%{background-color: rgb(0, 255, 8); top:30px; left:30px;}
    80%{background-color: rgb(55, 0, 255); top:40px; left:40px;}
    20%{background-color: rgb(174, 0, 255); top:50px; left:50px;}
    100%{background-color: rgb(255, 0, 149); top:60px; left:60px;}
    

}
.box{
    width:200px;
    height:200px;
    background-color: gray;
    position:relative;
}

.box-animation:hover{
    animation-name:change-color;
    animation-duration:1s;
    animation-iteration-count: infinite;
}