.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    height:300px;
    border:1px solid red;
    justify-content: center;

}
.container div{
    border: 1px solid;
    padding:10px;
    width:100px;
}
.box-1{
    flex:1

}
.box-2{
    flex:1

}
.box-3{
    flex:1

}